---
permalink: /job/
layout: default

title: Freshcode Vacancies
keywords: career, Freshcode vacancies, web developers, Java and Clojure engineers, JavaSript experts, senior web developer
description: Want to start your career in web development? Send us your CV and we’ll contact you.
---

<section class="section height-fixed height-100 padding-top padding-bottom">
    <div class="image-background bleed">
        {% adaptive_image /img/{{ site.data.job.background }} size="2048 1024 768" sizes="min 1000 2048;min 600 1024;max 599 768" draggable="false" class="image" alt="Career background" title="Career background" %}
    </div>
    <div class="container ">
        <div class="row row-equal-columns">
            <div class="column a-center">
                <div class="flex flex-middle">
                    <div class="flex-inner">
                        <div class="block block-text width-fixed">
                            <header>
                                <h1 class="fresh-h1 h1">{{ site.data.job.title }}</h1>
                                <h3 class="fresh-h3 centered">{{ site.data.job.text }}</h3>
                            </header>
                        </div>
                    </div> <!-- flex-inner -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fresh-main">
    <div class="fresh-container job">
        <div class="row shorted-job width-fixed">
            <div class="row m-t-5">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                    <h2><strong>VACANCY</strong></h2>
                    <ul class="collapsible" data-collapsible="expandable">
                        {% for job in site.data.job.jobs %}
                            <li {% if forloop.index == 1 %} class="active" {% endif %}>
                                <div class="collapsible-header {% if forloop.index == 1 %} active {% endif %}">
                                    <div class="collapsible-title">{{ job.title }}</div>
                                </div>
                                <div class="collapsible-body">
                                    <h3>Necessary skills</h3>
                                    <ul>
                                        {% for skill in job.skills %}
                                        <li>{{ skill }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row job">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 m-b-6rem no-padding">
                    <h2 class="m-b-3"><strong>WRITE ABOUT YOURSELF</strong></h2>

                    <form class="material-form job-form" data-parsley-validate>
                        <div class="row material-box">
                            <textarea class="material-input"
                                      rows="1"
                                      name="text"
                                      placeholder="Hi I want to work in your company *"
                                      data-parsley-trigger="keyup"
                                      data-parsley-rangelength="[20,200]"
                                      required></textarea>
                        </div>
                        <div class="row material-box">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                                <label class="attach-link" onclick="$('#file').trigger('click')">
                                    <img class="clip-img" src="/img/icon_attach.png">
                                    <span>Attach file</span>
                                </label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                                <input id="file" class="material-input"
                                       name="file"
                                       type="file"
                                       autocomplete="off"
                                       data-parsley-required-message="You must add your resume"
                                       style="display: none"
                                       required>
                            </div>
                        </div>
                        <div class="description submit-block">
                            <button type="submit" class="hire-btn button">
                                <div class="color-fill"></div>
                                <span>Submit</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>