<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% if page.layout == 'post' %}
    <meta property="og:url"           content="{{ site.url }}{{ page.url }}">
    <meta property="og:type"          content="article">
    <meta property="fb:app_id"        content="1077965352288016" />
    <meta property="og:title"         content="{{ page.share-title }}">
    <meta property="og:description"   content="{{ page.share-description }}">
    <meta property="og:image"         content="{{ site.url }}{{ page.share-image }}">
    <meta property="og:image:width"   content="644">
    <meta property="og:image:height"  content="428">

    <meta name="twitter:card"         content="summary_large_image">
    <meta name="twitter:site"         content="{{ site.twitter_username }}">
    <meta name="twitter:creator"      content="{{ site.twitter_username }}">
    <meta name="twitter:title"        content="{{ page.share-title }}">
    <meta name="twitter:description"  content="{{ page.share-description }}">
   <!-- <meta name="twitter:image:src"    content="{{ site.url }}{{ page.share-image }}">
    <meta name="twitter:domain"       content="{{ site.url }}">
-->

    {% endif %}

    {% assign url = page.url | replace:'/','' %}
    <meta name="description" content="{% if site.data[url].description%}{{ site.data[url].description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="{% if site.data[url].keywords %}{{ site.data[url].keywords }}{% else %}{{ site.keywords }}{% endif %}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <title>{% if site.data[url].title %}{{ site.data[url].title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="stylesheet" href="{% minified_css_file %}">
</head>


