<div class="site-header-slice__fixer">
    <div class="site-header-slice__background-2"></div>
    <div class="main-nav-block">
        <nav>
            <ul class="main-nav-menu">
                <li><a href="/services">Services</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/testimonials">Testimonials</a></li>
                <li><a href="/job">Career</a></li>
                <li><a href="/our-approach">Our approach</a></li>
                <li class="description">
                    <a class="link" href="">
                        <div class="color-fill"></div>
                        <span>Hire us</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="mail-popup-block">

        <div id="one">
            <div class="form-header">
                <h3 class="fresh-h1 h1">WE OFFER A FREE CONSULTATION</h3>
                <div id="wtf" style="background-color: red; width: 150px; height: 50px;">Жмакни</div>
            </div>

            <form class="material-form hire-us-form" data-parsley-validate>
                <div class="row material-box">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <input class="material-input"
                               name="name"
                               type="text"
                               placeholder="Your Name*"
                               autocomplete="off"
                               data-parsley-trigger="change"
                               data-parsley-required-message="Enter your name"
                               required>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <input class="material-input"
                               name="email"
                               type="email"
                               placeholder="Your Email*"
                               pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}"
                               autocomplete="off"
                               data-parsley-trigger="change"
                               data-parsley-required-message="Enter your email"
                               required>
                    </div>
                </div>
                <div class="row material-box">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input class="material-input"
                               name="subject"
                               type="text"
                               placeholder="Subject"
                               autocomplete="off"
                               data-parsley-trigger="change"
                               data-parsley-required-message="Enter subject"
                               required>
                    </div>
                </div>
                <div class="row material-box">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input class="material-input"
                               name="message"
                               type="text"
                               autocomplete="off"
                               placeholder="Your Message*"
                               data-parsley-required-message="Enter your message"
                               data-parsley-trigger="change"
                               required>
                    </div>
                </div>
                <div class="description submit-block">
                    <button type="submit" class="hire-btn button">
                        <div class="color-fill"></div>
                        <span>Submit</span>
                    </button>
                </div>
            </form>
        </div>

        <div id="two" style="display: none">
            <div class="thx-header">
                <h1 class="fresh-h1 h1">{{ site.data.thank.header-text }}</h1>
            </div>
            <div class="thx-block">
                <div class="row material-box">
                    <h3 class="fresh-h3 h3">{{ site.data.thank.text }}</h3>
                </div>
            </div>
            <div class="thx-block">
                <div class="row">
                    <div class="thx-l-b">
                        <div class="thx-a-s-c">
                            <div class="thx-box">
                                <img src="/img/thank_you/icon_portfolio.png">
                                <p>please visit our portfolio</p>
                                <div class="description">
                                    <a class="link" href="/portfolio">
                                        <div class="color-fill"></div>
                                        <span>portfolio page</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="thx-a-s-c">
                            <div class="thx-box">
                                <img src="/img/thank_you/icon_blog.png">
                                <p>please visit our blog</p>
                                <div class="description">
                                    <a class="link" href="/blog">
                                        <div class="color-fill"></div>
                                        <span>blog page</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="v-line"></div>
                        <div>
                            <div class="thx-box social">
                                <p>follow us on social networks</p>
                                <div class="row">
                                    <div class="s-i-top">
                                        <a href="{{ site.data.main.social.linked }}"><img src="/img/thank_you/icon_linkedin.png"></a>
                                        <a href="{{ site.data.main.social.facebook }}"><img src="/img/thank_you/icon_facebook.png"></a>
                                        <a href="{{ site.data.main.social.twitter }}"><img src="/img/thank_you/icon_twitter.png"></a>
                                    </div>
                                    <div class="s-i-bot">
                                        <a href="{{ site.data.main.social.google }}"><img src="/img/thank_you/icon_g_pus.png"></a>
                                        <a href="{{ site.data.main.social.github }}"><img src="/img/thank_you/icon_github.png"></a>
                                        <a href="{{ site.data.main.social.bitbucket }}"><img src="/img/thank_you/icon_bit_bucket.png"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display: none" class="thanks-popup-block"> </div>
</div>

