<div class="site-header-slice__fixer">
    <div class="site-header-slice__background-2"></div>

    <div class="main-nav-block">
        <nav>
            <ul class="main-nav-menu">
                <li><a href="/services">Services</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/testimonials">Testimonials</a></li>
                <li><a href="/job">Career</a></li>
                <li><a href="/our-approach">Our approach</a></li>
                <li class="description">
                    <a class="link" href="">
                        <div class="color-fill"></div>
                        <span>Hire us</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="mail-popup-block">

        <div class="form-thx" style="display: none">
            <h3 class="fresh-h1 h1">Got It</h3>
        </div>

        <div class="form-header">
            <h3 class="fresh-h1 h1">WE OFFER A FREE CONSULTATION</h3>
        </div>
        <form class="material-form hire-us-form" data-parsley-validate>
            <div class="row material-box">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <input class="material-input"
                           name="name"
                           type="text"
                           placeholder="Your Name*"
                           autocomplete="off"
                           data-parsley-trigger="change"
                           data-parsley-required-message="Enter your name"
                           required>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <input class="material-input"
                           name="email"
                           type="email"
                           placeholder="Your Email*"
                           pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}"
                           autocomplete="off"
                           data-parsley-trigger="change"
                           data-parsley-required-message="Enter your email"
                           required>
                </div>
            </div>
            <div class="row material-box">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <input class="material-input"
                           name="subject"
                           type="text"
                           placeholder="Subject"
                           autocomplete="off"
                           data-parsley-trigger="change"
                           data-parsley-required-message="Enter subject"
                           required>
                </div>
            </div>
            <div class="row material-box">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <input class="material-input"
                           name="message"
                           type="text"
                           autocomplete="off"
                           placeholder="Your Message*"
                           data-parsley-required-message="Enter your message"
                           data-parsley-trigger="change"
                           required>
                </div>
            </div>
            <div class="description submit-block">
                <button type="submit" class="hire-btn button">
                    <div class="color-fill"></div>
                    <span>Submit</span>
                </button>
            </div>
        </form>

        <script>
            var $form = $('form.hire-us-form'),
                $name = $form.find("input[name='name']"),
                $email = $form.find("input[name='email']"),
                $subject = $form.find("input[name='subject']"),
                $message = $form.find("input[name='message']");

            $form.parsley();
            $form.submit(function (e) {
                e.preventDefault();

                var data = {
                    name: $name.val(),
                    email: $email.val(),
                    subject: $subject.val(),
                    message: $message.val()
                };

                $.ajax({
                   method: "POST",
                   url: "https://getform.org/f/2470bd55-f6d2-4752-820e-ec23eccd8202",
                   data: {
                       name: $name.val(),
                       email: $email.val(),
                       subject: $subject.val(),
                       message: $message.val()
                   },
                   crossDomain: true
                });

                $form[0].reset();
                $('.form-header').css('display', 'none');
                $('.hire-us-form').css('display', 'none');
                $('.form-thx').css('display', 'block');

               setTimeout(function () {
                   $('.hamburger').trigger('click');
               }, 2000);
            });
        </script>
    </div>
</div>

